
@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="AppMVC" >
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>AngularJS Page</title>
</head>
<body>
    <div class="navbar-collapse collapse" style="text-align:left">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
            <li>@Html.ActionLink("AngualarJs Page", "Index", "NgPage", new { area = "" }, null)</li>
            <li>@Html.ActionLink("SPA MVC", "Index", "SPA/Main", new { area = "" }, null)</li>
        </ul>
    </div>

    <input type="text" ng-model="models.helloAngular" />
    <span ng-bind="models.helloAngular"></span>
    
    <ul>
        <li><a href="#/SPAMain">Route One</a></li>
        <li><a href="#/EmployeeAdd">Route Two</a></li>
    </ul>
    <ul>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
    </ul>

    <div ng-view></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    
    @Scripts.Render("~/bundles/AppMVC")
</body>

</html>