@using AppMVC.ViewModels.SPA
@model CreateEmployeeViewModel
<script src="~/Scripts/EmployeeValidate.js"></script>
<script>
    //function IsValid() {
    //    return true;
    //}
    function ResetForm() {
        $('input:text').each(function (idx) {
            //alert($(this).val() );
            $(this).val("");
        });
        $('#errorBox').empty();
    }
    function CancelSave() {
        $('#DivCreateEmployee').dialog('close');
    }

    function SaveEmployee() {
        if (IsValid()) {
            var e =
                {
                    FirstName: $('#TxtFName').val(),
                    LastName: $('#TxtLName').val(),
                    Salary: $('#TxtSalary').val()
                };
            $.post("/SPA/Main/SaveEmployee", e).then(
                function (r) {
                    var newTr = $('<tr></tr>');
                    var nameTD = $('<td></td>');
                    var salaryTD = $('<td></td>');

                    nameTD.text(r.EmployeeName);
                    salaryTD.text(r.Salary);

                    salaryTD.css("background-color", r.SalaryColor);

                    newTr.append(nameTD);
                    newTr.append(salaryTD);

                    $('#EmployeeTable').append(newTr);
                    $('#DivCreateEmployee').dialog('close');
                }
            ).fail(
                function (response) {
                    var spanTag = $('<span></span>');
                    spanTag.text("Please check first name and last name not empty and last name less then 5 char");
                    spanTag.css("color", "red");
                    $('#errorBox').append(spanTag);
                    //alert('Error: ' + response.responseText);
                });
        }
    }

</script>

<div>

    <table>
        <tr>
            <td>
                First Name:
            </td>
            <td>
                <input type="text" id="TxtFName" name="FirstName" value="@Model.FirstName" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.ValidationMessage("FirstName")
            </td>
        </tr>
        <tr>
            <td>
                Last Name:
            </td>
            <td>
                <input type="text" id="TxtLName" name="LastName" value="@Model.LastName" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.ValidationMessage("LastName")
            </td>
        </tr>

        <tr>
            <td>
                Salary:
            </td>
            <td>
                <input type="text" id="TxtSalary" name="Salary" value="@Model.Salary" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                @Html.ValidationMessage("Salary")
            </td>
        </tr>
        <tr>
            <td colspan="2">

                <input type="submit" name="BtnSubmit" value="Save Employee" onclick="SaveEmployee();" />
                <input type="submit" name="BtnSubmit" value="Cancel" onclick="CancelSave()" />
                <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();" />
            </td>
        </tr>
        <tr>
            <td colspan="2" id="errorBox">

            </td>
        </tr>

    </table>

</div>




